*{
    color: white;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    
}
.name{
    margin: 20px
}

.button{
    
}

.ig{
    
}

.aboutme{

}

.favsongcontainer{
    display: flex;
    justify-content: flex-end;
}
